.wp-block-sermons-taxonomy-layout-sermons-grid.wpfc-term-grid .wpfc-term-grid-image {
  display: block;
  padding-top: 56.5%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sermons-grid-view.sermon_skin .post-item.term-list {
    margin-bottom: 0;
}

.wpfc-term-list .wpfc-term-inner .wpfc-term-title {
    text-align: inherit !important;
}